<!DOCTYPE html>
<html lang="en" ng-app="groupsApp">
<head>
    <meta charset="UTF-8">
    <title>groups example</title>
    <link rel="stylesheet" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="main.css">

</head>
<body ng-controller="groupCtrl">

<div class="container">
    <span><h4>Groups <span class="btn btn-primary add-group-btn" ng-click="openModal()">+</span></h4> </span>
    <div class="row">
        <div class="col-md-5">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#private" aria-expanded="true">Private groups</a>
                        </h4>
                    </div>
                    <div id="private" class="panel-collapse collapse">
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="group in groups.Private">
                                <span ng-bind="group"></span>
                            </li>
                        </ul>
                    </div>
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#public" aria-expanded="true">Public groups</a>
                        </h4>
                    </div>
                    <div id="public" class="panel-collapse collapse">
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="group in groups.Public">
                                <span ng-bind="group"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="app/app.js"></script>
<script src="app/app.controller.js"></script>
</body>
</html>