.modal-content {
    padding: 15px;
}

.right-wrapper {
    width:100%;
    display: inline-block;
}

.margin-right-10{
    margin-right: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.add-group-btn{
    padding: 0 5px;
}