<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Add new group</h3>
</div>

<div class="modal-body" id="modal-body">
    <form name="groupCreate">
        <div class="mb-10">
            <label>New group name</label>
            <input class="form-control" name="group-name" type="text" ng-model="newGroupName" required />
            <div  class='label label-danger' ng-show="invalidData">Incorrect symbols in input</div>
        </div>
        <div class="mb-10">
            <label>Group type</label>
            <select class="form-control" name="type" ng-options="type for type in typesGroup" ng-model="typeNewGroup" required>
                <option value="" disabled selected>Select group</option>
            </select>
        </div>
        <div class="right-wrapper mb-10">
            <button class="btn btn-danger pull-right" ng-click="closeModal()">Cancel</button>
            <button class="btn btn-primary pull-right margin-right-10" ng-click="createGroup(newGroupName, typeNewGroup)"
            ng-disabled="groupCreate.$invalid">Create</button>
        </div>
    </form>

</div>


